##### **Universidad Galileo**
##### **Postgrado en Análisis y Predicción de Datos** - *Cuarto Trimestre 2024*
##### **Product Development**
##### **Alumno:** Elder Cruz. **Carnet:** 23004456
##### **Alumno:** Walter Reyes. **Carnet:** 23004450
##### **Alumno:** Dayana Gamboa. **Carnet:** 23001913
##### **Alumno:** Rodrigo Cano. **Carnet:** 23001916
##### **Proyecto final:** Carga de datos

#### Para el proyecto final del curso se ha elegido un dataset de una cartera crediticia de una entidad financiera con el fin de analizar sus variables relacionadas con la rentabilidad de cada segmento comercial existente el cual se espera sea la variable Target para posterior crear un modelo relacionado con la rentabilidad por cliente, segmento o producto.

# 1. Importación de librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.preprocessing import LabelEncoder

# 2. Carga de dataset

In [2]:
dataset_path ='../data/raw/DataLoans_0424.csv'

In [3]:
DB_loans = pd.read_csv(dataset_path, delimiter = ";")
DB_loans.head()

,id,first_name,last_name,email,gender,Desembolso,Vencimiento,Tasa Original,Tasa Actual,Fecha Último Incremento,...,TIR,Cant.Pagarés,Suma_Asegurada,Flujo_Ingreso,Fujo_Costo,Com_Desembolso,Opex,PE,Rec_Capital,ISR
0,1,Celeste,Gallafant,cgallafant0@google.cn,Female,2/08/2022,30/04/2037,6.75,7.50,31/03/2024,...,0.006062,0,0.000,2.020633e+06,-1.694724e+06,0.0,0.0,97795.48672,3724668.653,-140440.66620
1,2,Alex,Skunes,askunes1@clickbank.net,Female,12/09/2022,28/02/2039,7.50,7.75,28/02/2023,...,0.008112,0,1511406.916,1.857647e+06,-1.509339e+06,0.0,0.0,98768.73707,2902574.199,-128877.29420
2,3,Kev,Enns,kenns2@ft.com,Male,23/10/2023,25/05/2026,7.25,7.50,31/03/2024,...,0.005582,0,0.000,3.088080e+05,-2.509065e+05,0.0,0.0,50038.62688,2573399.796,-21462.15430
3,4,Sioux,Di Meo,sdimeo3@xinhuanet.com,Female,17/07/2023,17/07/2028,8.25,8.50,31/03/2024,...,0.009979,0,0.000,4.828663e+05,-3.692507e+05,0.0,0.0,12103.22912,2272312.020,-33491.83332
4,5,Caron,Niave,cniave4@businessweek.com,Female,23/11/2023,25/05/2026,7.00,7.50,31/03/2024,...,0.005594,0,0.000,2.048941e+05,-1.664764e+05,0.0,0.0,33200.62893,1707450.764,-14188.18243